# Ignore architecture documentation files
Architecture.md
architecture2.md
UML_Design.md
snapshot_v1.md
*.puml
*.pu
skills-lock.json
Skill.md
dummy-front-end/
dummy-frontend-2/
node_modules/
#docker-compose up -d postgres